In [5]:
# Q1. Create one variable containing following type of data:

# (i) string
# (ii) list
# (iii) float
# (iv) tuple

# Answer

# (i) string
str_1 = 'Pwskills'

# (ii) list
list_1 = [1,2.3,'Datascience',3+4j,True]

# (iii) float
float_1 = 4.67

# (iv) tuple
tuple_1 = (2,4,7,8,9)

In [4]:
# Q2. Given are some following variables containing data:

# (i) var1 = ‘ ‘
# (ii) var2 = ‘[ DS , ML , Python]’
# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
# (iv) var4 = 1.

# Answer

# (i) var1 = ‘ ‘
str

# (ii) var2 = ‘[ DS , ML , Python]’
str

# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
list

# (iv) var4 = 1.
int

In [ ]:
# Q3. Explain the use of the following operators using an example:

# (i) /
# (ii) %
# (iii) //
# (iv) **

# Answer

# (i) /
# This operator is used to divide a number with another number. Example: 5/2 = 2.5,4/2 = 2.0

# (ii) %
# This operator is used to divide a number with another number and gives only the remainder value. Example : 5%2 = 1

# (iii) //
# This operator is called floor division and it is used to give only the quotient value. Example: 5//3 = 1, 6//2 = 3

# (iv) **
# This operator is used to give power raised to a value. Example : 2 ** 3 = 8

In [2]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
#element and its data type.'''

# Answer
List_2 = [1,2.5,3+5j,True,'Datascience','Python',5,7.5,343]
for i in List_2:
    print(i,type(i))

1 <class 'int'>
2.5 <class 'float'>
(3+5j) <class 'complex'>
True <class 'bool'>
Datascience <class 'str'>
Python <class 'str'>
5 <class 'int'>
7.5 <class 'float'>
343 <class 'int'>

In [1]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
#times it can be divisible.

# Answer

A = int(input('Enter the number A: '))
B = 1
count = 0
while A > B:
    if A%B == 0:
        count += 1
    B += 1
print('The number of times A is purely divisible by B is',count)

Enter the number A:  50

The number of times A is purely divisible by B is 5

In [3]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
# divisible by 3 or not.

List_3 = list(range(1,26))
for i in List_3:
    if i%3 == 0:
        print(i,'is divisible by 3')
    else:
        print(i, 'is not divisible by 3' )

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [6]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing
# this property.

# Answer

# Mutable datatype - Mutable datatypes are the datatypes in which the elements of the data of a particular datatype 
#                    can be modified or changed.  For example: list
List_6 = [1,2,3,4,5,6,7]
List_6[2] = 400
print(List_6)
# Here the element of the list has changed to 400 at the index value of 2 showing the mutable property.

# Immutable datatype - Immutable datatypes are the datatypes in which the elements of the data of a particular datatype 
#                    cannot be modified or changed. For example: strings

Str_3 = 'Datascience'
Str_3[3] = 'p'
# The above statement will give an error stating ''str' object does not support item assignment' which is 
# the property of immutability.

[1, 2, 400, 4, 5, 6, 7]

TypeError: 'str' object does not support item assignment